.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  scroll-behavior: smooth;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background: #fff url(../images/background_header.svg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 0 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin-left: 30px;
}

.nav__links {
  margin: 0 80px 0 0;
  display: flex;
  column-gap: 20px;
  list-style: none;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 28px 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__blue-title {
  display: block;
  font-family:
    "Noto Serif",
    Times New Roman,
    serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  max-width: 683px;
  margin: 0 0 0 80px;
  font-family:
    "Noto Serif",
    Times New Roman,
    serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin: auto 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  background: #0a2750 url(../images/background_recipes.svg) no-repeat center;
  background-size: cover;
  padding: 100px 0 215px 80px;
  color: #fff;
}
.recipes__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0;
  margin-bottom: 80px;
  max-width: 438px;
  font-family:
    "Noto Serif",
    Times New Roman,
    serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__figure {
  margin: 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
